<div class="admin">
    <h2>Welcome To Admin Home</h2>
</div>

<section class="features" id="features">

    <h1 class="heading">  <span> Showcase Items</span></h1>

    <div class="box-container">
        <div class="box">
            <img class="features_img" src="../../../../assets/images/grocery3.jpg" alt="">
        </div>


        <div class="box">
            <img class="features_img" src="../../../../assets/images/speices2.jpg" alt="">
        </div>


        <div class="box">
            <img class="features_img"  src="../../../../assets/images/meat3.jpg" alt="">

        </div>

    </div>

</section>




<footer class="footer">
    <div class="footer-container">
        <div class="row">

            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li class="foot"><a href="#">about us</a></li>
                    <li class="foot"><a href="#">category</a></li>
                    <li class="foot"><a href="#">privacy policy</a></li>
                    <li class="foot"><a href="#">affiliate program</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li class="foot"><a href="#">FAQ</a></li>
                    <li class="foot"><a href="#">shipping</a></li>
                    <li class="foot"><a href="#">returns</a></li>
                    <li class="foot"><a href="#">order status</a></li>
                    <li class="foot"><a href="#">payment options</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>groceteria</h4>
                <ul>
                    <li class="foot"><a href="#">vegetables & fruits</a></li>
                    <li class="foot"><a href="#">fresh meat</a></li>
                    <li class="foot"><a href="#">speices and oils</a></li>
                    <li class="foot"><a href="#">baby care</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>follow us</h4>
               <div class="social-links">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
            </div> 
            </div>


        </div>
    </div>  
</footer>
