


<div class="head-home">
    <!--SLIDER-->
    <section class="alot">
        <div class="slider">
           <figure>
    
            <div class="slide">
                <!-- <h1>Vegetables</h1> -->
                <img src="../../../assets/images/g6.jpg" alt="image">
            </div>
    
            <div class="slide">
                <!-- <h1>Species</h1> -->
                <img src="../../../assets/images/fr7.jpg" alt="image">
            </div>
    
            <div class="slide">
                <!-- <h1>fresh Meat</h1> -->
                <img src="../../../assets/images/sp4.jpg" alt="image">
            </div>
    
            <div class="slide">
                <!-- <h1>fresh Meat</h1> -->
                <img src="../../../assets/images/b3.jpg" alt="image">
            </div>
           
           </figure>
        </div>
    </section>

    <!--CARD SECTION-->

    <section class="features" id="features">

        <h1 class="heading"> our <span>features</span></h1>
    
        <div class="box-container">
            <div class="box">
                <img class="features_img" src="../../../assets/images/features5.jpg" alt="">
                <h3>fresh and organic</h3>
                <p>Experience freshness at its finest with our handpicked selection of organic delights.
                     From farm to table, taste the difference!</p><br>
                    <a href="#" class="btn">read more</a>
            </div>
    
    
            <div class="box">
                <img class="features_img" src="../../../assets/images/payment.jpg" alt="">
                <h3>Easy payments</h3>
                <p>Checkout made easy! Choose from various payment 
                    methods for a hassle-free shopping experience. </p><br>
                    <a href="#" class="btn">read more</a>
            </div>
    
    
            <div class="box">
                <img class="features_img"  src="../../../assets/images/delivery mam.jpg" alt="">
                <h3>free delivery</h3>
                <p>Enjoy Free Delivery on Every Order! Shop hassle-free and have your items
                    delivered straight to your door at no extra cost.</p><br>
                    <a href="#" class="btn">read more</a>
            </div>
    
        </div>
    
    </section>


    <!--FOOTER SECTION HERE-->

    <footer class="footer">
        <div class="footer-container">
            <div class="row">
    
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li class="foot"><a href="#">about us</a></li>
                        <li class="foot"><a href="#">category</a></li>
                        <li class="foot"><a href="#">privacy policy</a></li>
                        <li class="foot"><a href="#">affiliate program</a></li>
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li class="foot"><a href="#">FAQ</a></li>
                        <li class="foot"><a href="#">shipping</a></li>
                        <li class="foot"><a href="#">returns</a></li>
                        <li class="foot"><a href="#">order status</a></li>
                        <li class="foot"><a href="#">payment options</a></li>
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4>groceteria</h4>
                    <ul>
                        <li class="foot"><a href="#">vegetables & fruits</a></li>
                        <li class="foot"><a href="#">fresh meat</a></li>
                        <li class="foot"><a href="#">speices and oils</a></li>
                        <li class="foot"><a href="#">baby care</a></li>
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4>follow us</h4>
                   <div class="social-links">
                    
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                </div> 
                </div>
    
            </div>
        </div>
    </footer>

    
</div>