
<div class="main-forgot-password">
    <br />
    <br />
    <div *ngIf="!isShowChangePassword" class="forgot-password">
        <h3>Forgot Password</h3>
        <br />
        <table>
            <tr>
                
                <td>Enter Email &nbsp;<input type="text" [(ngModel)]="emailId" /></td>
            </tr>
        </table>
        <br />
        <button (click)="onSubmit()" mat-raised-button color="primary" >Submit</button>
    
    </div>
    <div *ngIf="isShowChangePassword" class="forgot-password">
        <h3>Change Password</h3>
        <br />
        <table>
            <tr>
                
                <td>Enter New Password &nbsp;<input type="password" [(ngModel)]="newPassword" /></td>
            </tr>
        </table>
        <br />
        <button  (click)="onChangePassword()" mat-raised-button color="primary">Submit</button>
    </div>
    </div>


    <!--Footer page-->
    <footer class="footer">
        <div class="footer-container">
            <div class="row">
    
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li class="foot"><a href="#">about us</a></li>
                        <li class="foot"><a href="#">category</a></li>
                        <li class="foot"><a href="#">privacy policy</a></li>
                        <li class="foot"><a href="#">affiliate program</a></li>
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li class="foot"><a href="#">FAQ</a></li>
                        <li class="foot"><a href="#">shipping</a></li>
                        <li class="foot"><a href="#">returns</a></li>
                        <li class="foot"><a href="#">order status</a></li>
                        <li class="foot"><a href="#">payment options</a></li>
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4>groceteria</h4>
                    <ul>
                        <li class="foot"><a href="#">vegetables & fruits</a></li>
                        <li class="foot"><a href="#">fresh meat</a></li>
                        <li class="foot"><a href="#">speices and oils</a></li>
                        <li class="foot"><a href="#">baby care</a></li>
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4>follow us</h4>
                   <div class="social-links">
                    
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                </div> 
                </div>
    
    
    
            </div>
        </div>
        
    </footer>




