<div class="main-aboutus">
    <section class="hero">
        <div class="heading">
            <h1>About Us</h1>
        </div>
        <div class="top-container">

           <div class="hero-content">
            <h2>Welcome To Groceteria</h2>
            <p>In a world where convenience and quality often don't meet,
                 Groceteria stands out by merging the best 
                 of both worlds. Founded by groceteria team, our mission is to 
                 make shopping for high-quality groceries as easy and hassle-free as
                  possible. We believe that everyone deserves to have access to fresh, 
                  healthy, and premium products without having to compromise on their 
                  busy schedules.</p>
           </div>

           <div class="hero-image">
            <img class="about-img" src="../../../assets/images/aboutimg.jpg" alt="all">
           </div>

        </div>
        <!--Top container-2-->
        <div class="top-container">

            <div class="hero-image">
                <img class="about-img" src="./../../../assets/images/Aboutus3.jpg" alt="all">
               </div>

            <div class="hero-content">
             <h2>Happy Shopping</h2>
             <p>groceteria.com  is India’s largest online grocery store. With over 18,000 products and over a 1000 brands in our catalogue you will find
                everything you are looking for. Right from fresh Fruits and Vegetables, Rice and Dals, Spices and
                Seasonings to Packaged products, Beverages, Personal care products, Meats – we have it all. Select a time slot for delivery and your order will be
                delivered right to your doorstep, anywhere in  India. You can pay
                online using your debit / credit card or by cash / sodexo on delivery.
                We guarantee on time delivery, and the best quality!</p>
            </div>
 
            
 
         </div>

    </section>

    <!--Footer-->
    <footer class="footer">
        <div class="footer-container">
            <div class="row">
    
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li class="foot"><a href="#">about us</a></li>
                        <li class="foot"><a href="#">category</a></li>
                        <li class="foot"><a href="#">privacy policy</a></li>
                        <li class="foot"><a href="#">affiliate program</a></li>
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li class="foot"><a href="#">FAQ</a></li>
                        <li class="foot"><a href="#">shipping</a></li>
                        <li class="foot"><a href="#">returns</a></li>
                        <li class="foot"><a href="#">order status</a></li>
                        <li class="foot"><a href="#">payment options</a></li>
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4>groceteria</h4>
                    <ul>
                        <li class="foot"><a href="#">vegetables & fruits</a></li>
                        <li class="foot"><a href="#">fresh meat</a></li>
                        <li class="foot"><a href="#">speices and oils</a></li>
                        <li class="foot"><a href="#">baby care</a></li>
                    </ul>
                </div>
    
                <div class="footer-col">
                    <h4>follow us</h4>
                   <div class="social-links">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                </div> 
                </div>
    
    
            </div>
        </div>  
    </footer>
    
</div>
